<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.better.together.mapper.UserDynamicReceiveBoxMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddf.better.together.model.entity.UserDynamicReceiveBox">
            <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="dynamic_id" property="dynamicId" />
        <result column="publish_time" property="publishTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, dynamic_id, publish_time
    </sql>
</mapper>